* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

#recipe-main img {
    width: 400px;
    height: auto;
}

#more-recipes img {
    width: 200px;
    height: auto;
}

.selected-button {
    background-color: orangered;
}


.alternative-recipes {
    cursor: pointer;
}

