map1 {
  position: relative;
  text-align: right;
  height: 265px;
  width: 591px;
}
gmap1 {
  overflow: hidden;
  background: none !important;
  height: 265px;
  width: 591px;
}
.smallphoto {
  width: 400px;
  height: 200px;
}

#boxcontainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 20px;
}


