* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

/* general elements */
body { 
    font-family:'Roboto',sans-serif;
    font-weight:300 
}

h1, h2, h3 {
    color: #E0705F;
}

h2 {
    padding: 15px;
}

h3 {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

p {
    font-size: 16px;
}


/* HEADER and entryquestion*/


#main {
    display: flex;
    flex-direction: column;
}

#in-out-selection {
    background-color: white;
    padding-top: 60px;
    height: 100vh;
}

#in, #out {
    height: 50%;
    padding-top: 50px;
    color: #E0705F;
    font-size: 2em;
    cursor: pointer;
    background-size: cover;
    /* filter: grayscale(0.8); */
    text-shadow: 0px 0px 14px #000000;
}

#in:hover, #out:hover {
    /* filter: none; */
    /* transition: filter 0.5s ease-in-out; */
}

#in {
    background-image: url(./img/cooking.jpg);
}

#out{
    background-image: url(./img/dine-out.jpg);
}

#country-selection {
    padding-top: 60px;
    height: 100vh;
    background: #E0705F;
    background: -moz-linear-gradient(top, #E0705F 0%, #FFD078 75%, #E0705F 100%);
    background: -webkit-linear-gradient(top, #E0705F 0%, #FFD078 75%, #E0705F 100%);
    background: linear-gradient(to bottom, #E0705F 0%, #FFD078 75%, #E0705F 100%);
}

.country-card {
    height: 20%;
    padding-top: 20px;
    
}
.country-card a {
    text-decoration: none;
    color: #121821;
    font-size: 30px;
}


/*navbar*/

header {
    position: fixed;
    width: 100%;
    background-color: #FFD078;
    opacity: 80%;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url(./img/logo.svg);
    background-size: contain;
}

.hamburger.nav-closed {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url("./img/hamburger.svg");
    background-position: center;
    background-size: contain;
}

.nav-links.nav-closed {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.nav-links li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
}

.nav-links li a{
    font-size: 14px;
    vertical-align: middle;
}

/*recipes*/


#main-recipes {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#recipe-main {
    padding-top: 60px;
}

#recipe-main img {
    width: 400px;
    height: auto;
}

#more-recipes img {
    width: 200px;
    height: auto;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#ingredients-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.quantity-div {
    text-align: right;
    width: 45%;
}
  
.ingredient-div {
    text-align: left;
    width: 45%;
    margin-left: 10px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.not-visible {
    display: none;
}

.selected-button {
    background-color: orangered;
}

.alternative-recipes {
    cursor: pointer;
}

