* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

/* general elements */
body { 
    font-family:'Roboto',sans-serif;
    font-weight:300 
}

h1, h2, h3 {
    color: #E0705F;
}

h1 {
    padding: 20px;
    font-size: 30px;
    margin-top: 15px;
}

h2 {
    padding: 15px;
    font-size: 20px;
}

h3 {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-top: 15px;
}

p {
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
    max-width: 600px;
    width: 100vw;
}

button {
	background-color:#ffd078;
	border-radius:4px;
	border:1px solid #ffbd7a;
	display:inline-block;
	cursor:pointer;
	color:#e0705f;
	font-size:16px;
	padding:8px 15px;
	text-decoration:none;
    margin-bottom: 10px;
}
button:hover {
	filter: brightness(0.9);
}
button:active {
	position:relative;
	top:1px;
}

img {
    border-radius: 2px;
}

.white-space-recipe, .white-space-restaurant {
    height: 60px;
    background-color: white;
}


/* HEADER and entryquestion*/


#main {
    display: flex;
    flex-direction: column;
}

#in-out-selection {
    background-color: white;
    padding-top: 60px;
    height: 100vh;
}

#in, #out {
    height: 50%;
    color: #E0705F;
    font-size: 2em;
    cursor: pointer;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#in {
    background-image: url(./img/cook-athome.jpg);
}

#out{
    background-image: url(./img/restaurant-aliki.jpg);
}

.in-out-text {
    font-size: 35px;
    padding: 5px;
    background-color: #CCCCCCB3;
    border-radius: 3px;
}

#out .in-out-text {
    color: #6d8411;
    right: 30%;
}

#country-selection {
    padding-top: 60px;
    height: 100vh;
    background-color: #F4F0E9;
}

.country-card {
    height: 20%;
    padding-top: 20px;
    cursor: pointer;
    font-size: 30px;
    border-bottom: 1px solid #12182129; 
    background-color: #F4F0E9;
}

.country-card:hover{
    filter:brightness(0.9);    
}

.country-card a {
    text-decoration: none;
    color: #121821;
    font-size: 30px;
}


/*navbar*/

header {
    position: fixed;
    width: 100%;
    background-color: #F4F0E9;
    opacity: 80%;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffd07842;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url(./img/logo.svg);
    background-size: contain;
    cursor: pointer;
}

.hamburger.nav-closed {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url("./img/hamburger.svg");
    background-position: center;
    background-size: contain;
}

.nav-links.nav-closed {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.nav-links li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
}

.nav-links li a{
    font-size: 14px;
    vertical-align: middle;
}

/*recipes*/


#main-recipes {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-main {
    padding: 10px;
    max-width: 600px;
    background-color: #F4F0E9;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*Picture sizes*/

.main-image, #img-restaurant {
    width: 580px;
    height: 580px;
    object-fit: cover;
}

#more-recipes img, .small-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 599px) {
    .main-image, #img-restaurant {
        width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }
  }
  

#portions {
    padding: 15px;
}

#portions label {
    margin-right: 10px;
    font-weight: bolder;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#ingredients-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.quantity-div {
    text-align: right;
    width: 45%;
}
  
.ingredient-div {
    text-align: left;
    width: 45%;
    margin-left: 10px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.not-visible {
    display: none !important;
}

.selected-button {
    background-color: #E0705F;
    color: #FFD078;
}

.email-address {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #121821;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(66,66,66,.75);
}

.done, .edit, #email {
    background-color: #7E9FD4;
    color: #121821;
    margin-left: 15px;
    border-color: #7391c2;
}

.send-email {
    padding: 30px 15px;
}

.directions, #main-restaurant, #main-recipes, #more-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alternatives {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .alternatives {
        width: 100vw;
        justify-content: center;
    }
    .alternative-recipes {
        margin: 10px;
    }
  }

.alternative-recipes {
    width: 220px;
    padding: 10px;
    background-color: #F4F0E9;
    border-radius: 3px;
}
.alternative-recipes {
    cursor: pointer;
}

/* Restaurants */

#main-restaurant {
    padding-top: 60px;
}

#restaurant-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 600px;
    background-color: #F4F0E9;
    border-radius: 3px;
    margin-bottom: 20px;
}

#map {
    margin-top: 15px;
}

#map iframe {
    max-width: 600px;
    width: 100vw;
}

@media (max-width: 599px) {
    .alternative-restaurants {
        margin: 10px;
    }
  }

.alternative-restaurants {
    width: 220px;
    padding: 10px;
    background-color: #F4F0E9;
    border-radius: 3px;
}

.alternative-restaurants {
    cursor: pointer;
}