* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

/* HEADER */


#main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#in-out-selection {
    background-color: blue;
    height: calc(100vh - 60px);
}

#in, #out {
    height: 50%;
}

#country-selection {
    background-color: red;
    height: calc(100vh - 60px);
}

.country-card {
    height: 20%;
}


/*navbar*/

header {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid green;
    background-color: blueviolet;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: blue;
}

.hamburger.nav-closed {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url("./img/hamburger.svg");
    background-position: center;
    background-size: contain;
}

.nav-links.nav-closed {
    display: none;
}

.nav-links {
    display: flex;
    background-color: blueviolet;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a{
    font-size: 14px;
    vertical-align: middle;
}

/*recipes*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

#recipe-main img {
    width: 400px;
    height: auto;
}

#more-recipes img {
    width: 200px;
    height: auto;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    width: 100%;
}

#ingredients-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.quantity-div {
    text-align: right;
    width: 45%;
}
  
.ingredient-div {
    text-align: left;
    width: 45%;
    margin-left: 10px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.not-visible {
    display: none;
}

.selected-button {
    background-color: orangered;
}

.alternative-recipes {
    cursor: pointer;
}

